.flip{
  width: 20vh;
  margin: auto;
}

.shadow{
  margin: 5vh auto;
}
.container{
  width:100%;
  display:flex;
  justify-content: center;
}

.eventChoice{
  text-align: center;
  width: 95%;
  margin: 2.5%;
  height: 20%;
  padding: 5%
}