.input_div{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.input{
    font-family: Raleway;
    width: 100%;
    font-size: 3vh;
    margin: 3% auto;
    border-radius: 1vh;
}
.fb{
    width: 60%;
    margin: 0 auto;
    display: block;
}