.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: rgb(195, 24, 92);
  height:100vh;
  width:100%;
  overflow: hidden;
}

.biggerText{
  font-size: 4vh;
}